@tailwind base;
@tailwind components;
@tailwind utilities;

.formLabel
{
    font-size: 5vh;
    color: #fec600;
    font-family: Roboto;
}
.formInput
{
    font-size: 10vh;
    font-family: Roboto;
}
